{% extends 'base.html' %}
{% block content %}
<h1>Students of Class {{ class.class_assigned }} - Division {{ class.division_assigned }}</h1>

{% if students %}
    <table border="1">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Actions</th>
                <th>View Marks</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.roll_number }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.gender }}</td>
                    <td>
                        <a href="{% url 'edit_student' student.id %}">Edit</a>
                        <a href="{% url 'delete_student' student.id %}" onclick="return confirm('Are you sure you want to delete this student?');">Delete</a>
                    </td>
                    <td>
                        <a href="{% url 'view_student_all_marks' student.id %}">View All Marks</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No students found for this class.</p>
{% endif %}

{% endblock %}
